---
import NewJeans from "@/assets/img/newjeans.png";
import Share from "./Share";
import Play from "./player/Play";
import { Image } from "astro:assets";
import Followers from "@/components/Followers.astro";
---

<section
  class="w-full p-4 bg-gradient-to-b flex min-h-[32rem] from-neutral-500 to-green-800"
>
  <div
    class="max-w-6xl w-full lg:items-stretch items-center min-h-72 m-auto flex flex-col lg:flex-row gap-4 lg:gap-8"
  >
    <Image
      src={NewJeans}
      alt="NewJeans"
      class="rounded shadow-xl"
      height={288}
      width={288}
    />
    <div class="flex-1 flex flex-col">
      <span class="text-neutral-300 text-xl">Estación actual</span>
      <div class="flex gap-4">
        <h1 class="font-bold text-white text-5xl lg:text-7xl">NewJeans</h1>
        <Play className="size-16 lg:size-20" client:load />
      </div>
      <Followers />
      <p class="text-neutral-300 text-balance line-clamp-4">
        NewJeans (en hangul, 뉴진스; romanización revisada del coreano,
        nyujinseu) es un grupo femenino surcoreano formado por ADOR, agencia
        subsidiaria de HYBE Corporation. El grupo está conformado por cinco
        miembros: Minji, Hanni, Danielle, Haerin y Hyein.
      </p>
      <div class="mt-8 lg:mt-auto flex">
        <Share client:load />
      </div>
    </div>
  </div>
</section>
